{% extends 'formulario.html' %}
{% load static %}

{% block controls %}
    <form action="post">
        {% csrf_token %}
        <div class="container shadow-sm p-3 mb-5 bg-body rounded">
            <h3 class="text-white text-center bg-primary">Registro De Buses</h3>
            <div class="row">
            </div>

            <div class="col-auto">
                <div class="col-auto input-group row justify-content-md-end">
                    <div class="col-md-6">
                        <div class="input-group mb-3 ">
                            <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Modelo</span>
                            {{ form.modelo }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                              <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Marca</span>
                            {{ form.marca }}
                        </div>
                    </div>
                </div>
                <div class="col-auto input-group row justify-content-md-end">
                    <div class="col-md-6">
                        <div class="input-group mb-3 ">
                             <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Placa</span>
                            {{ form.placa }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                             <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Año Fábricado</span>
                            {{ form.año_fabricado }}
                        </div>
                    </div>
                </div>
                <div class="col-auto input-group row justify-content-md-end">
                    <div class="col-md-6">
                        <div class="input-group mb-3 ">
                              <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Motor</span>
                            {{ form.motor }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                              <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Año del Modelo</span>
                            {{ form.año_modelo }}
                        </div>
                    </div>
                </div>

                <div class="col-auto input-group row justify-content-md-end">
                    <div class="col-md-6">
                        <div class="input-group mb-3 ">
                             <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Chasís</span>
                            {{ form.chasis }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                             <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Kilometraje</span>
                            {{ form.kilometraje }}
                        </div>
                    </div>
                </div>

                <div class="col-auto input-group row justify-content-md-end">
                    <div class="col-md-6">
                        <div class="input-group mb-3 ">
                             <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Capacidad de pasajeros</span>
                            {{ form.capacidad_pasajero }}
                        </div>
                    </div>
                    <div class="col-auto input-group row justify-content-md-end">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Ruedas</span>
                                {{ form.ruedas }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                  <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">>Ejes</span>
                                {{ form.ejes }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                  <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Propietario</span>
                                {{ form.Propietario }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                  <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Cédula</span>
                                {{ form.cedula}}
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="input-group mb-3">
                                  <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Teléfono</span>
                                {{ form.telefono}}
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="input-group mb-3">
                                 <span class="input-group-text "  id="basic-addon1" style="background-color: #003b46; color: #ffffff">Dirección</span>
                                {{ form.direccion}}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}